body {
	background-image: url("img.jpg");
	background-color: #cccccc;
	text-align: center;
   }


#main { 
	width: 50%;
	margin: auto;
	margin-top: 10%;
	margin-bottom: 10%;
	background-color: white;
	padding-bottom: 1.5rem;
	box-shadow: 10px 10px 5px #aaaaaa;
	text-align: center;
}


header { 
	margin-top: 0%;
	padding-top: 0;
	padding: 1rem;
}


.line {
	height: 0.000001px; 
	position: relative;
	height:0;
	background: white;
	box-shadow: 1px 1px 50px 40px rgba(79, 147, 202, 0.5);
	border-radius: 50%;
}


ul {
	padding-left: 0%;
	padding-right: 0%; 
	
}
.icons li { 
	display: inline;
	margin: 0 20px 20px 0 ;
	padding-top: 0.5rem;
	list-style: none;
	padding-left: 0%;
	padding-right: 0%;
}

.icons li a img {
	width: 10%;





}
.icons li a img:hover {
	
	transition: 0.5s;
	padding-bottom: 0%;
	width: 15%;
	border-radius: 25%;
	box-shadow: 3px 3px 10px rgba(64, 137, 197, 0.5);

}


.av-img {
	margin: 25px;
	width: 22%;
	border-radius: 50%;
	box-shadow: 10px 10px 25px rgba(64, 137, 197, 0.5);
}



/* @media(max-width: 600px) {

	#main { 
		display: inline;
		font-size: 2rem;
		width: 80%;
		margin-top: 10%;
		margin-bottom: 10%;
		background-color:white;
		padding-bottom: 0.5rem;
		box-shadow: 10px 10px 5px #aaaaaa;
		text-align: center;
	}
	.av-img {
		margin: 25px;
		width: 75%;
		border-radius: 50%;
		box-shadow: 10px 10px 25px rgba(64, 137, 197, 0.5);
	}
	.icons li a img {
		width: 30%;
	
	
	
	}
	.icons li a img:hover {
		
		transition: 0.5s;
		padding-bottom: 0%;
		width: 15%;
		border-radius: 25%;
		box-shadow: 3px 3px 10px rgba(64, 137, 197, 0.5);
	
	}
	.line {
		height: 0.000001px; 
		position: relative;
		height:0;
		background: white;
		box-shadow: 1px 1px 30px 40px rgba(79, 147, 202, 0.5);
		border-radius: 50%;
	}

}
	@media(max-width: 900px) {

		#main { 
			display: inline;
			font-size: 3rem;
			width: 40%;
			margin-top: 10%;
			margin-bottom: 10%;
			background-color:white;
			padding-bottom: 0.5rem;
			box-shadow: 10px 10px 5px #aaaaaa;
			text-align: center;
		}
		.av-img {
			margin: 25px;
			width: 75%;
			border-radius: 50%;
			box-shadow: 10px 10px 25px rgba(64, 137, 197, 0.5);
		}
		.icons li a img {
			width: 40%;

		}
		.icons li a img:hover {
			
			transition: 0.5s;
			padding-bottom: 0%;
			width: 15%;
			border-radius: 25%;
			box-shadow: 3px 3px 10px rgba(64, 137, 197, 0.5);
		
		}
		.line {
			height: 0.000001px; 
			position: relative;
			height:0;
			background: white;
			box-shadow: 1px 1px 30px 40px rgba(79, 147, 202, 0.5);
			border-radius: 50%;
		}
	}
  
 */
